@charset "utf-8";

@import url('/css/fonts.css');

html {
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: none;
}
body {
  font: normal 1.6rem/1.44 'Roboto', 'Noto Sans KR', 'Apple SD Gothic Neo', 'AppleSDGothicNeo', sans-serif;
  letter-spacing: -0.02em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
}
